__pycache__/
*.py[cod]
.env
.env.*
.vscode/

/target
**/target/
/fuzz/artifacts
/fuzz/corpus
/fuzz/coverage
/fuzz/Cargo.lock
.DS_Store
Cargo.lock

# Snapshot test temp output
tests/.snapshot_tests.rs.pending-snap
tests/*.pending-snap
